.card{
  width: 23rem;
  gap: 1rem;
  padding: 1rem;
  margin-top: 2rem;
  height: calc(100vh -86px);
}

.cardDark{
  background-color: #31313196;
}

div.formError,
input.formError {
  background: rgb(208, 123, 123);
}

input.formError:focus {
  background: rgb(208, 123, 123);
  outline: 3px solid red;
}

span.formError {
  font-size: 12px;
  text-align: start;
  margin-top: 2px;
  margin-bottom: 6px;
  color: rgb(208, 123, 123);
}

.inputSpacing+.inputSpacing{
  margin: 1rem 0;
}